* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.btn {
    
    background: rgba(70, 230, 30, 0.87);
    color: whitesmoke;
    font-size: 1.2rem;
    padding: 1rem 7rem;
    text-decoration: none;
    border: 1px solid #000;
    cursor: pointer;
    display:block;
    background-position: center;
    box-align: center;

}
  body {
  
  
    top: 5rem;
    margin: 0;
    padding: 0;
    background: url("SunRed.jpg") no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .prelogin {

    width: 420px;
    height: 530px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;
    border: 5px solid turquoise;
    


  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);

}
  

.login-box h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 2.2rem;

}


.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;

}




.login-box input {
    width: 98%;
    margin-bottom: 40px;
    

}


.login-box input[type="text"],
.login-box input[type="password"] {

    border: none;
    border-bottom: 1px solid rgb(157, 219, 235);
    background: rgb(250, 244, 244);
    outline: none;
    height: 38px;
    color: rgb(7, 7, 7);
    font-size: 16px;
    cursor:text;

}
.login-box input[type="text"],
.login-box input[type="email"] {

    border: none;
    border-bottom: 1px solid #fff;
    background: rgb(250, 244, 244);
    outline: none;
    height: 38px;
    color: rgb(238, 200, 200);
    font-size: 16px;
    cursor: text;
    color :rgb(7, 7, 7);
    

}





.login-box input[type="submit"] {

    border: none;
    outline: none;
    height: 10px;
    background: aquamarinered;
    font-size: 1.8rem;
    border-radius: 5px;
    
}

.cuentas a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #fff;

}

.cuentas a:hover {
    color: #fff;
}

